@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    border: 0;
    border: none;
}

body {
    font-family: montserrat;
    font-weight: 300;
    color: #605d5d;
}

/*headings and logo*/

h1 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #605d5d;
}

#head {
    float:left;
    font-size: 250%;
    margin-left: 30px;
}

/*Menu styling*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color:#605d5d;
}

#menu a:hover {
    border-bottom: 1px solid #605d5d;
}

/*about me section styling*/
* {
    box-sizing: border-box;
}

.column-2 {
    float: left;
    width: 45%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    height: 475px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    background-color: #eaa320;
    line-height:2;
  }

  .large-profile {
    background: url('../images/IMG-3913-1.JPG');
    background-size: cover;
    background-position: center;
  }

  /*Photography styling*/

  #pictures {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
  }

  #pictures > img {
    width: 100%;
  }

  /*Contact form styling*/

  .container {
    clear: both;
  }

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #eaa320;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #eaa320;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  

  /* Header/Blog Title */
  #row {
    clear: both;
    line-height: 0;
    column-count: 1;
  }

  /*Destinations style blog*/

 .left-colum {
  float: left;
  width: 75%;

}

.right-colum {
  width: 25%;
  float: right;
}

.card {
  padding: 20px;
  margin-top: 20px;
}

.card img {
  width: 100%;
}

h2 {
  text-align: center;
  margin: 1.5 0px;
}

h5 p {
  font-family: montserrat;
  text-align: justify;
  text-justify: inter-word;
}

/* footer style*/

#footer {
  clear: both;
  height: 150px;
}

#copyright {
  font-family: montserrat;
  text-align: left;
  font-size: small;
}

.footer-content-right {
  display: inline;
  text-align: right;
}

/* Newsletter*/

.newsletter {
  clear: both;
  background-color: #9b9996;
  text-align: center;
  padding-left: 20%;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-right: 20%;
  margin-bottom: 30px;
}

